body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
/*
 * Formatting the header area
 */
.navbar {
  background-color: #DFB887;
  height: 80px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

h3 {
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

img .homemage {
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width : 100%;
    max-width: 400px;
}

ul {
  list-style-type: none;
}