body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

body > #bg {
    height:100%;
    width: 100%;
    background-color: #26baee;
    clip-path: polygon(100% 1%,100% 49%, 49% 99%,0 99%, 0 0);
    position: absolute;
    z-index: -1;
}
/*
 * Formatting the header area
 */
.navbar {
  background-color: #26baee;
  height: 50px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
.brand {
    color: black;
    margin-top: -50px;
}

.nav-link {
    color: black;
    margin-top: -45px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: white;
}

h4 {
  font-weight: 70;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: white;
}

img .homemage {
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width : 100%;
    max-width: 400px;
}

 .listes {
 float: left;
 list-style-type:none;
   }

 .liste {
 float: left;
 list-style-type:none;
   }

.completed-True{
    display: none;
}

.logo{
    margin-top: -30px;

}

.success
{
    font-weight: 100;
    font-size: 1.7em;
  text-align: center;
  color: yellow;
}